@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
    html{
	font-size: 16px;
    }
}
@include media-breakpoint-up(lg) {
    html{
	font-size: 17px;
    }
    .our-approach{
	.col-lg-5{
	    border-right: 1px solid #e8e8e8;
	}
	.approach-item + .approach-item{
	    border-top: 1px solid #e8e8e8;
	    padding-top: 2.5rem;
	    margin-top: 2.5rem;
	}
    }
}

@include media-breakpoint-up(xl) {
    html{
	font-size: 1.2vw;
    }
    .container{
	max-width: 63rem;
    }
    .our-approach{
	padding: 3rem 3.5rem 2rem;
	.row{
	    --bs-gutter-x: 7rem;
	}
    }
    .what-we-do{
	padding: 0 2rem;
	.row{
	    --bs-gutter-x: 4rem;
	}
	.col-md-6{
	    padding-top: 1.5rem;
	    padding-bottom: 2rem;
	}
    }
}

@include media-breakpoint-up(xxl) {
    html{
	font-size: vw(20px);
    }
    .container{
	max-width: rem(1230px);
    }
}
@media(min-width: 2000px){
    html{
	font-size: 20px;
    }
    .container{
	max-width: 1230px;
    }
}