@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
    html{
	font-size: 16px;
    }
}
@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
    html{
	font-size: vw(19px);
    }
    .container{
	max-width: 90rem;
    }
}

@include media-breakpoint-up(xxl) {
    html{
	font-size: vw(20px);
    }
    .container{
	max-width: rem(1230px);
    }
}
@media(min-width: 2000px){
    html{
	font-size: 20px;
    }
    .container{
	max-width: 1230px;
    }
}